.container-content-mobile {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px 20px;

    .logo-header-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
        justify-content: center;
    }

    .overview-left-column-mobile {
        display: flex;
        flex-direction: column;
        gap: 30px;

        h1 {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }

    .schedule-page-user-actions-mobile {
        flex: 1;
        display: flex;
        gap: 20px;

        .schedule-view {
            display: flex;
            flex-direction: column;
            gap: 20px;
            background-color: white;
            padding: 20px;
            margin-top: 20px;

            .left, .right {
                width: 100%;
            }

            .border-division {
                border-left: none;
                border-top: 1px solid black;
                margin: 20px 0;
            }
        }
    }

    .schedule-page-calendar-mobile {
        background-color: white;
        padding: 20px;
        flex: 2;
    }
}

@media (max-width: 1024px) {
    .container-content-mobile {
        .schedule-page-user-actions-mobile {
            flex-direction: row-reverse !important;
            justify-content: start;
        }
    }
}



@media (max-width: 400px) {
    .container-content-mobile {
        flex-direction: column !important;
        gap: 20px;

        .overview-left-column-mobile {
            h1 {
                font-size: 18px;
            }
        }

        .border-division {
            margin: 20px 0;
            border: 1px solid black;
            border-left-style: none;
        }

        .right {
            text-align: center;

            span {
                width: 100%;
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
}

.appointment-cards-row-mobile {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: start;
    width: 100%;
}

