.listUserContainer p {
    color: #4b5563;
}

.listUserContainer h1 {
    font-weight: 600;
    font-size: 30px;
    color: #333;
    margin-bottom: 24px;
}

.headerMobile {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.listUsersSearchBar {
    width: 100%;
    border-radius: 8px;
    display: flex;
    gap: 12px;
}


.listUserContainerMobile h1 {
    font-weight: 600;
    font-size: 30px;
}

.listUsersSearchBarMobile {
    width: 100%;
    border-radius: 5px;
}