.wrapper-main-home {
    .main-btn {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #F36057;
        color: white;
        border: none;
        border-radius: 5px;
    }

    h1 {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
}

.default-padding {
    padding: 20px;
    margin: 40px 0;


    img {
        max-width: 100%;
        width: 100%;
        height: auto;
        display: block;
    }
}

.bg-blue {
    background-color: #313D5A;

    color: white;

}

.home-about {
    display: flex;
    justify-content: center;

    .about-text {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h2 {
            font-size: 24px;
            margin-bottom: 10px;
        }

        p {
            font-size: 16px;
            max-width: 600px;

        }
    }
}

.home-cta {
    margin-top: 40px;

    h2 {
        color: #313D5A;
        font-size: 24px;
        margin: 20px 0;
    }

    p {
        margin-bottom: 20px;
    }
}

.home-plans {
    .home-plan-card {
        h2 {
            margin: 36px 0;
        }
    }

    margin-bottom: 0 !important;
}

.home-frequently-asked {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    color: black;

    .wrapper-asks {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;

        h2 {
            font-size: 24px;
            margin-bottom: 20px;
        }
    }

}

.css-1808mag-MuiPaper-root-MuiAccordion-root.Mui-expanded {
    margin: 0 !important;
}

@media (max-width: 768px) {

    .home-about {
        display: flex;
        justify-content: center;

        .wrapper-content {
            .wrapper-content-about {
                width: 100%;
                display: flex;
                flex-direction: column;
            }

        }

        .about-img {
            max-width: 500px;
            width: 100%;
            margin-right: 20px;
            flex: 1;
        }


        .about-text {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            max-width: 600px;

            h1 {
                font-size: 36px;
            }

            p {
                max-width: 700px;
                width: 100%;
            }
        }
    }


    .home-cta {
        h1 {
            font-size: 2em !important;
            max-width: 880px !important;
        }
    }
}


@media (max-width: 1920px) {
    .wrapper-content {
        max-width: 1400px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        .wrapper-content-main,
        .wrapper-content-about {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;

            h1 {
                font-size: 36px;
            }
        }
    }

    .wrapper-main-home {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;


        .wrapper-main-home-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 500px;
            text-align: left;
            margin-left: 16px;

            h1 {
                font-size: 36px;
            }

            .main-btn {
                width: 70%;
            }
        }
    }
}