.newEventOpenedWrapperCalendar {
  filter: opacity(0.4);
}

.disabledDay {
  cursor: none;
  background-color: #ddd !important;
  pointer-events: none;
  opacity: 0.5;
}

.selectedDay {
  background-color: #2e2e2e !important;
  color: white !important;
  border-radius: 5px;
  padding: 6px 10px;
  transition: all 0.3s, color 0.3s;
}

.wrapperCalendar :global(.fc) {
  height: auto;
  font-family: "Poppins", sans-serif !important;
}

.wrapperCalendar :global(.fc-header-toolbar) {
  margin-bottom: 0 !important;
}

:global(.fc-theme-standard th) {
  border: none !important;
}

.wrapperCalendar :global(.fc-toolbar-title) {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 15px;
}

.wrapperCalendar :global(.fc-prev-button),
.wrapperCalendar :global(.fc-next-button) {
  background: none !important;
  border: none !important;
  font-size: 1.2rem !important;
  color: #333 !important;
  cursor: pointer;
}

.wrapperCalendar :global(.fc-col-header-cell) {
  font-weight: 500;
  color: #555;
  padding: 8px 0;
  border: none !important;
}

.wrapperCalendar :global(.fc-daygrid-day) {
  text-align: center;
  transition: background 0.3s;
  padding: 4px !important;
  background-color: transparent !important;
  height: 90px;
}

.wrapperCalendar :global(.fc .fc-daygrid-day-frame) {
  border-radius: 12px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08) !important;
  border-radius: 10px;
  height: 100%;
  transition: background 0.3s;
  cursor: pointer;

}


.wrapperCalendar :global(.fc-daygrid-day-top) {
  margin-top: 5px !important;
  margin-left: 15px !important;
  margin: 0 auto;
  width: fit-content;
}

.wrapperCalendar :global(.fc-daygrid-day-number) {
  font-size: 0.95rem;
}

.wrapperCalendar :global(.fc-day-today) {
  background: none;
}

.wrapperCalendar :global(.fc-day-today .fc-daygrid-day-number) {
  background: #0a3a5c;
  color: white !important;
  border-radius: 50%;
  padding: 2px 8px;
}

.wrapperCalendar :global(.fc-daygrid-day:hover) {
  background: transparent !important;
  border-radius: 5px;
}

.wrapperCalendar :global(.fc .fc-daygrid-day-frame:hover) {
  background: #f5f5f5;
  border-radius: 5px;
}

.wrapperCalendar :global(.fc-col-header-cell-cushion::first-letter),
.wrapperCalendar :global(.fc-toolbar-title::first-letter) {
  text-transform: capitalize;
}

.wrapperCalendar :global(.fc .fc-scrollgrid-section-sticky>*) {
  background: transparent;
  z-index: 3;
}

.wrapperCalendar :global(.fc .fc-scrollgrid-section table) {
  height: 50px;
}

.wrapperCalendar :global(.fc-theme-standard td),
.wrapperCalendar :global(.fc-theme-standard .fc-scrollgrid) {
  border: none;
}

:global(.fc .fc-scrollgrid-section-sticky > *) {
  position: relative;
}

.wrapperCalendar :global(.fc .fc-daygrid-body-natural .fc-daygrid-day-events) {
  margin: 0;
}

.fcTodayCustom {
  padding: 5px 8px;
}

.fcTodayCustom :global(.fc-daygrid-day-frame) {
  color: #1e293b !important;
  background: #dadada !important;
  cursor: default !important;
}

.fcTodayCustom:hover {
  border-radius: 0 !important;
}


@media (max-width: 1024px) {
  .wrapperCalendar :global(.fc-day-today .fc-daygrid-day-number) {
    background: black;
    color: white !important;
    border-radius: 50%;
    padding: 5px 9px;
  }

  .wrapperCalendar :global(.fc-daygrid-day-top) {
    margin: 0 auto !important;
    width: fit-content;
  }
}