.btnGeneric {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnGeneric button {
    width: 100%;
    padding: 20px;
    font-size: 1rem;
    background-color: var(--bg-blue);
    color: var(--btn-color);
    border: var(--btn-border);
    border-radius: var(--btn-border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 500px;
}

.btnGeneric button:hover {
    background-color: var(--btn-hover-bg);
}

.btnCheckSchedule:hover {
    background-color: #051128;
}

.accept {
    background-color: var(--bg-green) !important;
}

.accept:hover {
    background-color: #16a34a !important;
}

.decline {
    background-color: var(--bg-orange) !important;
}

.decline:hover {
    background-color: #e8590c !important;
}

.rescheduleModal {
    height: 40px;
    width: 90px;
}

.rescheduleModal:hover {
    background-color: #051128;
}

.LoadingIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    
}