.btn-generic {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
        width: 100%;
        padding: 20px;
        font-size: 1rem;
        background-color: var(--bg-blue);
        color: var(--btn-color);
        border: var(--btn-border);
        border-radius: var(--btn-border-radius);
        cursor: pointer;
        transition: background-color 0.3s ease;
        max-width: 500px;

        &:hover {
            background-color: var(--btn-hover-bg);
        }

        &.btn-check-schedule {
            background-color: var(--bg-blue);
            max-width: 100px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: bold;

            &:hover {
                background-color: #051128;
            }

            &.accept {
                background-color: var(--bg-green);

                &:hover {
                    background-color: #16a34a;
                }
            }

            &.decline {
                background-color: var(--bg-orange);

                &:hover {
                    background-color: #e8590c;
                }

                &.reschedule-modal {
                    height: 40px;
                    width: 90px;

                    &:hover {
                        background-color: #051128;
                    }
                }

            }

        }
    }
}