.headerIconsMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.headerIconsMobile span {
    font-size: 0.8rem;
    margin-top: 2px;
    max-width: 75px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
}
