.packagesListWrapperDesktop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: nowrap;
    justify-content: center;
    gap: 60px;
    width: auto;
    padding-top: 30px;
    padding-bottom: 30px;

}

.packagesContainerBlock {
    overflow: hidden;
}

.packagesTitleContainer h1 {
    font-weight: 600;
    font-size: 30px;
    color: #333;
}

.addButtonContainer {
    width: 25%;
}

@media (max-width: 1024px) {
    .packagesListWrapperDesktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .packagesListWrapperMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .personalPackagesTitleContainerMobile,
    .additionalTitleMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .addButtonContainer {
        width: 40%;
    }

    .addButtonContainerMobile {
        width: 100%;
        margin: 20px 0;
    }

    .packagesTitleContainerMobile h1,
    .personalPackagesTitleContainerMobile h1,
    .additionalTitleMobile h1 {
        font-size: 1.8rem;
        font-weight: 600;
        color: #333;
        margin-top: 15px;
    }

    .packagesTitleContainer h1,
    .personalPackagesTitleContainer h1 {
        font-size: 2rem;
        font-weight: 600;
        color: #333;
        margin-top: 15px;
    }

}
