.packagesListWrapperDesktop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    width: auto;
    padding-top: 30px;
    padding-bottom: 30px;

}

.packagesContainerBlock {
    overflow: hidden;
}

.packagesTitleContainer h1 {
    font-weight: 600;
    font-size: 30px;
    color: #333;
}

.addButtonContainer {
    width: 25%;
}

@media (max-width: 1024px) {
    .packagesListWrapperDesktop {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        padding: 10px 20px 30px 20px;
    }

    .packagesListWrapperMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    .personalPackagesTitleContainerMobile,
    .additionalTitleMobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .addButtonContainer {
        width: 40%;
    }

    .personalPackagesTitleContainerMobile .addButtonContainer,
    .additionalTitleMobile .addButtonContainer {
        margin-top: 20px;
    }

    .packagesTitleContainerMobile h1,
    .personalPackagesTitleContainerMobile h1,
    .additionalTitleMobile h1 {
        font-size: 1.8rem;
        font-weight: 600;
        color: #333;
        margin-top: 15px;
    }

    .packagesTitleContainer h1,
    .personalPackagesTitleContainer h1 {
        font-size: 2rem;
        font-weight: 600;
        color: #333;
        margin-top: 15px;
    }

}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modalContent h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.addPackageForm input {}

.inputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.inputContainer label {
    margin-right: 10px;
    font-weight: 500;
    color: #333;
    flex: 1;
}

.inputContainer input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* button component */
.buttonAddBenefit {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}