.dashMobile {
    padding: 20px !important;
}

.wrapperDashboardPersonalLogoMobile {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.wrapperElementsDashboard {
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.textDashboardPersonal h1 {
    font-weight: 600;
    font-size: 30px;
}

.textDashboardPersonal h3 {
    font-size: 1.2rem;
    color: #7c7c7c;
    font-weight: 500;
}

.kpisDashboardPersonal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
}

.kpisDashboardPersonalMobile {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.wrapperChartsDashboardPersonal {
    display: flex;
    gap: 20px;
    padding: 0 !important;
    height: auto;
}

.chartBarPersonal {
    flex: 1;
    background-color: #fff;
    padding: 26px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 50vh;
    width: 100%;
}

@media (max-width: 1024px) {
    .wrapperChartsDashboardPersonal {
        flex-direction: column;
        height: 100vh;
    }
}