.cardInfo {
    border: 1px solid #b3b3b3;
    border-radius: 8px;
}

.cardInfo .rowHeader {
    border-bottom: 1px solid #b3b3b3;
    padding: 0px 16px;
    font-size: 0.9rem;
}

.cardInfo .usersTableCard {
    display: flex;
    align-items: center;
    padding: 2px 16px;
}

.cardInfo .userDataFull {
    display: flex;
    align-items: center;
    gap: 20px;

}

.cardInfo .userDataFull img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.cardInfo .userData {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cardInfo .userData span {
    font-weight: 400;
}

.cardInfo .userData span:last-of-type {
    color: #a0a0a0;
}