.whiteContainer {
    background-color: white;
    border-radius: 9px;
    padding: 20px;
    width: 100%;
}

.whiteContainer .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.whiteContainer h2 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}