.new-event-opened-wrapper-callendar {
  filter: opacity(0.4);
}

.disabled-day {
  cursor: none;
  background-color: #ddd !important;
  pointer-events: none;
  opacity: 0.5;
}

.fc .fc-timegrid-col.fc-day-today {
	background-color: rgba(15, 71, 177, 0.15);
}