.container-forgot-password {
  display: flex;
  background-color: var(--bg-blue-darker);
  font-family: "Poppins", sans-serif;

  .section-logo-forgot-password {
    padding: 30px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-blue-darker);
    flex: 2;

  }


  .forgot-password {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: white;
    position: relative;
    flex: 1;

    a {
      color: var(--link-text);
      text-decoration: underline;

    }

    .wrapper_forgot-password_elements {
      width: 23vw;
      padding: 1.5rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 2rem;

      .welcome_message {
        gap: 2rem;
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 2.5rem;
          font-weight: 500;
          text-align: center;
        }

        p {
          text-align: left;
          font-size: 1.2rem;
          margin-bottom: 30px;
        }
      }

      display: flex;
      flex-direction: column;
      gap: 1rem;
      text-align: left;

      .wrapper-inputs-forgot-password-page {

        form {
          display: flex;
          flex-direction: column;
          gap: 2rem;

        }

        p {
          text-align: left;
        }

        .password-toggle {
          position: absolute;
          right: 0.75rem;
          top: 50%;
          transform: translateY(-50%);
          color: var(--muted-foreground);
          transition: all 0.3s ease;
          background: none;
          border: none;
          cursor: pointer;
          padding: 0;
        }

        .resend-code-button {
          background-color: var(--bg-blue);
          padding: 10px;
          border: none;
          border-radius: 8px;
          color: white;
          max-width: 150px;
          margin-bottom: 5px;
          cursor: pointer;
        }


      }








      input[type="checkbox"] {
        background-color: transparent;
      }

      .continue-button {
        margin-top: 20px;
      }

    }

    .wrapper_forgot-password_elements-mobile {
      width: 100% !important;
    }

    .config_login {
      display: flex;
      justify-content: space-between;

      span {
        margin-left: 10px;
      }

      a {
        text-decoration: underline;
      }
    }

  }
}

@media (max-width: 1024px) {
  .container-login {
    flex-direction: column;

    .login {
      width: 100vw;
      height: 100vh;
      border-radius: 0;

      .wrapper_login_elements {
        width: 80vw;
      }
    }
  }

}