.studentPendingCheckSchedule {
    display: flex;
    gap: 5px;

}

.statusPendingCheckSchedule {
    display: flex;
    align-items: center;
    gap: 5px;

}

.textPendingCheckSchedule {
    width: 100%;
    font-size: 14px;
}

.dotIconCheckSchedule {
    color: var(--bg-yellow);
    color: #FFA800;
}