.listUserContainer {
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.listUserContainer p {
    color: #4b5563;
}

.listUserContainer h1 {
    font-weight: 600;
    font-size: 30px;
    color: #333;
}

.headerMobile {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.listUsersSearchBar {
    padding: 1%;
    width: 40%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 1.5px 0px 0px rgba(0, 0, 0, 0.2);
}

.listUserContainerMobile {
    padding: 20px;
    height: auto;
    min-height: 100vh;

}

.listUserContainerMobile h1 {
    font-weight: 600;
    font-size: 30px;
}

.listUsersSearchBarMobile {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 1.5px 0px 0px rgba(0, 0, 0, 0.2);
}
