.scheduleView {
    display: flex;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;

    .left {
        width: 100%;

        .userPersonal {
            font-size: 24px;
        }

        .schedulePageUser {
            display: flex;
            align-items: center;
            gap: 15px;
            margin: 20px 0;

            img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
        }

        .btnActions {
            display: flex;
            gap: 15px;
        }
    }

    .borderDivision {
        border-left: 1px solid black;
        margin: 0 15px;
    }

    .right {
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: capitalize;

    }
}

.scheduleViewMobile {
    flex-wrap: wrap;
}

.mobileView {
    width: 100%;
    justify-content: space-between;

    .borderDivision {
        display: block;
        border-left: none;
        height: 1px !important;
        background-color: black;
        width: 100% !important;
        margin: 15px 0 !important;
    }

    .rightMobile {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .btnActions {
        flex-wrap: wrap;
    }
}


.accept {
    background-color: #28a745;
    color: white;
}

.decline {
    background-color: #e8590c;
    color: white;
}
