/* .wrapper-home {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1000;

    .home,
    .delete {
        height: 5vh;
    }
    .home {
        a {
            margin-right: 1rem;
            color: black;
            border: 1px solid black;
            padding: 20px;
        }

        a:visited {
            color: black;
        }
    }
} */