.wrapper-dashboard-personal {
    .dash-mobile {
        padding: 20px !important;
    }

    .wrapper-dashboard-personal-logo-mobile {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .wrapper-elements-dashboard {
        padding: 20px;
        padding-left: 100px;
        padding-right: 100px;
        min-height: 100vh;
        height: auto;
        gap: 20px;
        display: flex;
        flex-direction: column;

        .text-dashboard-personal {
            margin-bottom: 20px;

            h3 {
                font-size: 1.2rem;
                color: #7c7c7c;
                font-weight: 500;
            }
        }

        .kpis-dashboard-personal-mobile {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

        }

        .kpis-dashboard-personal {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 26px;
        }
    }
}

.wrapper-charts-dashboard-personal {
    display: flex;
    gap: 20px;
    padding: 0 !important;
    height: auto;

    .chart-bar-personal {
        flex: 1;
        background-color: #fff;
        padding: 16px;
        border-radius: 12px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        height: 50vh;
        width: 100%;
    }

    .dash-mobile {
        flex-direction: column;
    }
}


@media (max-width: 1024px) {
    .wrapper-charts-dashboard-personal {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}