.user-header-mobile,
.header-personal-mobile {
    width: 100%;
    height: 60px;
    background-color: var(--bg-blue);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    position: sticky;
    bottom: 0;
    z-index: 100;


    .header-icons-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        span {
            font-size: 0.8rem;
            margin-top: 2px;
            max-width: 75px;
            white-space: nowrap;
            overflow: hidden;
            display: inline-block;
            text-overflow: ellipsis;
        }
    }
}

.header-personal-mobile {
    grid-template-columns: repeat(5, 1fr) !important;
    text-align: center;
}