.search-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .wrapper_inp {
        width: 100%;
    }
}

.search-icon {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    pointer-events: none;
}

.search-input {
    width:100%;
    padding: 8px 12px 8px 40px;
    border: 1px solid #bfcad6;
    border-radius: 6px;
    font-size: 16px;
    outline: 1px solid #bfcad6;
    background-color: var(--btn-border);
}

.search-input {
    caret-color: #333; 
    color: #333;      
    background-color: var(--btn-border);
}

