.edit-user-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 17px 13px;

  .white-container {
    .wrapper_inp {
      width: 100%;
    }
  }

  @media (min-width: 768px) {
    padding: 32px 90px;
    gap: 25px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "header header"
      "personal profile"
      "login _"
      "footer footer";

    .profile-section {
      max-width: 364px;
      max-height: 369px;
      .button {
        padding: 15px;
      }
    }

    h2 {
        font-size: 36px;
        font-weight: 400;
    }

    .white-container {
      padding: 15px 20px;
    }

    .footer {
      .btn-generic {
        width: 320px;
        button {
          padding: 18px;
        }
      }
    }

    .personal-info .white-container .content {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;

      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas:
        "nome nome nome"
        "sobreNome sobreNome sobreNome"
        "cpf telefone genero";

      #nome {
        grid-area: nome;
      }
      #sobreNome {
        grid-area: sobreNome;
      }
      #cpf {
        grid-area: cpf;
      }
      #genero {
        grid-area: genero;
      }
      #telefone {
        grid-area: telefone;
      }
    }
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "profile profile"
      "personal personal"
      "login login"
      "footer footer";

    .goBack-container {
      height: 45px;

      .go-back-login {
        top: initial;
        left: initial;
        position: initial;
      }
    }

    .atualizar-foto-container {
      width: 100%;
      max-width: 153px;
      max-height: 45px;
      .button {
        padding: 13px;
      }
    }

    .footer {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .dashLine {
        border: none;
        height: 3px;
        background-image: linear-gradient(
          to right,
          rgb(175, 175, 175) 50%,
          transparent 50%
        );
        background-size: 20px 2px;
        background-repeat: repeat-x;
      }
      .btn-generic {
        width: 148px;
        button {
          padding: 15px;
        }
      }
    }
  }

  .goBack-container {
    grid-area: header;
  }
  .profile-section {
    grid-area: profile;
  }
  .personal-info {
    grid-area: personal;
  }
  .login-info {
    grid-area: login;
  }
  .footer {
    grid-area: footer;
  }
}
