.editUserGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  padding: 40px;
  gap: 25px;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "header header"
    "personal profile"
    "login _"
    "footer footer";
}

/* white container */
.editUserGrid :global(.whiteContainer .wrapper_inp) {
  width: 100%;
}

.editUserGrid :global(.whiteContainer .input-icon) {
  left: 0.65rem;
  top: 62%;
  height: 1.5rem;
  width: 1.5rem;
}
.profileSection {
  max-width: 364px;
  max-height: 369px;
}

.profileSection .button {
  padding: 15px;
}

.editUserGrid h2 {
  font-size: 36px;
  font-weight: 400;
}

:global(.whiteContainer) {
  padding: 15px 20px;
}

.footer .btnGeneric {
  width: 320px;
}

.footer .btnGeneric button {
  padding: 18px;
}

.personalInfoGrid {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "nome nome nome"
    "sobreNome sobreNome sobreNome"
    "cpf telefone genero";
}

.loginInfoContainer :global(#email) {
  width: 100%;
}

.loginInfoContainer :global(#senha) {
  width: 100%;
}

.personalInfoGrid :global(#nome) {
  grid-area: nome;
}

.personalInfoGrid :global(#sobreNome) {
  grid-area: sobreNome;
}

.personalInfoGrid :global(#cpf) {
  grid-area: cpf;
}

.personalInfoGrid :global(#genero) {
  grid-area: genero;
}

.personalInfoGrid :global(#telefone) {
  grid-area: telefone;
}

/* Mobile */
@media (max-width: 1024px) {
  .editUserGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "profile profile"
      "personal personal"
      "login login"
      "footer footer";
  }

  .goBackContainer {
    height: 45px;
  }

  .goBackContainer .goBackLogin {
    top: initial;
    left: initial;
    position: initial;
  }

  .atualizarFotoContainer {
    width: 100%;
    max-width: 153px;
    max-height: 45px;
  }

  .atualizarFotoContainer .button {
    padding: 13px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .dashLine {
    border: none;
    height: 3px;
    background-image: linear-gradient(to right, rgb(175, 175, 175) 50%, transparent 50%);
    background-size: 20px 2px;
    background-repeat: repeat-x;
  }

  .footer .btnGeneric {
    width: 148px;
  }

  .footer .btnGeneric button {
    padding: 15px;
  }
}

/* Grid Areas */
.goBackContainer {
  grid-area: header;
}

.profileSection {
  grid-area: profile;
}

.personalInfo {
  grid-area: personal;
}

.loginInfo {
  grid-area: login;
}

.footer {
  grid-area: footer;
}