.personalCheckScheduleCard {
    background-color: #fff;
    width: fit-content;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 300px;
    justify-content: flex-start;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 50px;
    gap: 10px;
    justify-content: center;

}

.buttons .buttonActions {
    width: 100% !important;
}

.statusIndicatorCheckSchedule {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    border: solid 1px #a1a1a1;
    border-radius: 8px;
    padding: 5px 10px;
}


.buttons :global(.btn-generic) {
    width: 100%;
}

.buttons :global(.btn-generic) button {
    width: 100%;
    max-width: none;
}

.high {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    padding: 10px 5px;
    border-bottom: 2px solid #737374;
}

.highStatusWithoutBorder {
    border-bottom: none;
}

.titleName {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 340px;
    text-overflow: ellipsis;
}

.high span {
    font-size: 14px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.textInTheRowCheckSchedule {
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.textInRowCheckSchedule {
    font-weight: normal;
}

.smallName {
    font-size: 14px;
    font-weight: semi-bold;
}


.photograph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.imgCard {
    align-self: center;
    width: 42px;
    border-radius: 50%;
}


.btnCheckSchedule {
    background-color: var(--bg-blue);
    max-width: 100px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}


@media (max-width: 1024px) {
    .card {
        width: 60% !important;
    }
}

@media (max-width: 600px) {
    .card {
        width: 100% !important;
    }
}

@media (max-width: 468px) {
    .titleName {
        font-size: 16px;
        min-width: unset;
    }
}

@media (max-width: 350px) {

    .buttons,
    .statusIndicatorCheckSchedule {
        flex-wrap: wrap;
        height: 100% !important;
    }

    .high {
        height: fit-content !important;
        gap: 5px;
    }

    .card {
        height: fit-content;
        width: 100%;
    }
}