.card {
    background-color: #fff;
    width: 100%;
    border-radius: 12px;
    padding: 10px 20px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

    .buttons {
        display: flex;
        flex-direction: row;
        height: 40px;
        width: max-content;
        gap: 10px;
    }

    .high {
        display: flex;
        flex-direction: row;
        gap: 8px;
        height: 150px;
        width: 100%;
        padding: 8px 20px;
        border-bottom: 2px solid #737374;

        .titleName {
            font-size: 18px;
            font-weight: semi-bold;
        }

        span {
            font-size: 14px;
        }

        ;

        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%;
            width: 100%;

            .name-age-row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }

            .small-name {
                font-size: 14px;
                font-weight: semi-bold;
            }
        }

        .photograph {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;

            .imgCard {
                align-self: center;
                width: 42px;
                border-radius: 50%;
            }
        }
    }


}

@media (max-width: 1024px) {

    .card {
        width: 60% !important;
    }
}

@media (max-width: 600px) {

    .card {
        width: 100% !important;
    }
}


@media (max-width: 350px) {

    .buttons {
        flex-wrap: wrap;
        height: 100% !important;
    }


    .high {
        height: fit-content !important;
        gap: 5px;
    }

    .card {
        height: fit-content;
        width: 100%;
    }


}