.new-event-opened-wrapper-callendar {
  filter: opacity(0.4);
}

.disabled-day {
  cursor: none;
  background-color: #ddd !important;
  pointer-events: none;
  opacity: 0.5;
}

.new-event-form-mobile {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  transform: none;
  border-radius: 0;
  border: none;
  box-shadow: none;
  overflow-y: auto;
  z-index: 1000;
  padding: 16px;

  .top-new-event-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    svg {
      cursor: pointer;
    }

    h1 {
      font-size: 26px;
      font-weight: lighter;
      text-transform: uppercase;
      padding-bottom: 20px;
    }

    .go-back-mobile {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      span {
        margin-left: 8px;
        font-size: 16px;
        font-weight: 500;
      }

      svg {
        margin-top: 2.3px;
      }
    }
  }

  .calendar-small-mobile {
    display: flex;
    flex-direction: column;
    gap: 30px;

    .hours {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;
      overflow: scroll;

      .button-hour-new-event {
        width: 100%;
      }

      .button-hour-new-event-selected {
        button {
          background-color: rgb(0, 125, 228) !important;
        }
      }
    }
  }

  .btn-selected {
    transition: background-color 0.2s;
    background-color: rgb(0, 125, 228);
    color: #fff;
  }

  .wrapper-new-event-mobile {
    display: flex;
    flex-direction: column;
    gap: 30px;

    form {
      width: 30vw;
    }


    .input-infos-form-mobile {
      display: flex;
      flex-direction: column;
      gap: 12px;
      justify-content: space-between;
      width: 100%;

      .submit-button {
        width: 30%;
        display: flex;
        justify-content: flex-start;
      }

      .wrapper-inputs-mobile {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .double-input {
          flex: 1;
          width: 100%;

          input {
            width: 100%;
          }
        }


        .input-group {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 20px;

          select {
            width: 70%;
            background-color: #fff;
            color: black;
          }

          select,
          input {
            padding: 16px;
            border: 1px solid #b1b1b194;
            border-radius: 6px;
            font-size: 16px;
          }

          .disabled {
            background-color: #f0f0f0;
            cursor: not-allowed;
          }
        }


        .input-group-address {
          display: flex;
          flex-direction: column;
          gap: 30px;

          .input-group {
            width: 100%;
          }
        }

        .input-group-max {
          width: 100%;

          input {
            width: 100%;
          }
        }

        .input-number {
          width: 25% !important;
        }
      }
    }
  }
}