.container {
  position: relative;
  padding: 0 90px;
}

.containerMobile {
  position: relative;
  padding: 0;
}

.personalInfo {
  border: 1px solid #b3b3b3;
  border-radius: 8px;
}

.personalInfo .rowHeader {
  border-bottom: 1px solid #b3b3b3;
  padding: 0px 16px;
  font-size: 0.9rem;
}

.personalInfo .usersTableCard {
  display: flex;
  align-items: center;
  padding: 2px 16px;
}

.personalInfo .userDataFull {
  display: flex;
  align-items: center;
  gap: 20px;

}

.personalInfo .userDataFull img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.personalInfo .userData {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.newEventOpenedWrapperCallendar {
  filter: opacity(0.4);
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  transition: opacity 0.3s ease;
  opacity: 1;
}

.disabledDay {
  cursor: none;
  background-color: #ddd !important;
  pointer-events: none;
  opacity: 0.5;
}

.newEventForm {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  overflow: auto;
  max-height: 92vh;
  max-width: 90vw;
  font-family: "Poppins", sans-serif;
}

.topNewEvent {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-top: 0px;
}

.topNewEvent svg {
  cursor: pointer;
}

.topNewEvent h1 {
  font-size: 36px;
  font-weight: 300;
  text-transform: uppercase;
}

.containerCalendar {
  padding-bottom: 20px;
}

.calendarSmall {
  width: 60vw;
}

.calendarSmallMobile {
  width: auto;
}


.calendarSmall :global(.fc-daygrid-day-events) {
  min-height: .95rem !important;
}

.calendarSmall :global(.fc .fc-toolbar.fc-header-toolbar) {
  margin-bottom: 0px !important;
}

.calendarSmall :global(.fc-toolbar-title) {
  margin-left: 0px !important;
}

.calendarSmall :global(#wrapper-styled-callendar .fc-col-header-cell) {
  padding: 0px !important;
}

.calendarSmall :global(#wrapper-styled-callendar .fc-daygrid-day) {
  height: 55px !important;
}


.calendarSmall :global(.fc .fc-daygrid-body-natural .fc-daygrid-day-events) {
  display: none;
}


.hours {
  display: flex;
  gap: 50px;
  margin-top: 14px;
}

.buttonHourNewEvent {
  width: 30%;
}

.buttonHourNewEvent button {
  height: 45px !important;

}

.buttonHourNewEventSelected button {
  background-color: rgb(0, 125, 228) !important;
}


.buttonNextStep {
  width: 100%;
  display: flex;
  justify-content: end;
}


.buttonNextStep button {
  width: 30% !important;
}


.btnSelected {
  transition: background-color 0.2s;
  background-color: rgb(0, 125, 228);
  color: #fff;
}

.wrapperNewEvent {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.wrapperNewEvent form {
  width: 30vw;
}

.inputInfosForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
  padding: 0 30px;
}

.submitButton {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.wrapperInputs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.selectComponent {
  flex-direction: row !important;
  align-items: center !important;
  gap: 40px !important;
  width: 100%;
}

.selectComponent label {
  font-size: 16px !important;
}

.selectComponent select {
  width: 100% !important;
}

.selectComponent :global(.dont-has-icon) {
  height: 40px;
  padding: 0;
  padding-left: 10px;
  background-color: #fff !important;
}

.doubleInput {
  flex: 1;
  width: 100%;
}

.doubleInput input {
  width: 100%;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
  width: 40%;
}

.inputGroup select {
  width: 15vw;
  background-color: #fff;
  color: black;
}

.inputGroup select,
.inputGroup input {
  padding: 16px;
  border: 1px solid #b1b1b194;
  border-radius: 6px;
  font-size: 16px;
}

.disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}

.inputGroupAddress {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.inputGroupAddress .inputGroup {
  width: 100%;
}

.inputAddress {
  text-overflow: ellipsis;
}

.inputGroupMax {
  width: 100%;
}

.inputGroupMax input {
  width: 100%;
}

.inputNumber {
  width: 25% !important;
}

/* Mobile Styles */
.newEventFormMobile {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  max-width: none;
  height: 100vh;
  max-height: none;
  transform: none;
  border-radius: 0;
  border: none;
  box-shadow: none;
  overflow-y: auto;
  z-index: 1000;
  padding: 16px;
}

.topNewEventMobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.topNewEventMobile svg {
  cursor: pointer;
}

.topNewEventMobile h1 {
  font-size: 26px;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.goBackMobile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.goBackMobile span {
  margin-left: 8px;
  font-size: 16px;
  font-weight: 500;
}

.goBackMobile svg {
  margin-top: 2.3px;
}

.calendarSmallMobile {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.calendarSmallMobile .hours {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  overflow: scroll;
}

.calendarSmallMobile .buttonHourNewEvent {
  width: 100%;
}

.wrapperNewEventMobile {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.wrapperNewEventMobile form {
  width: 30vw;
}

.inputInfosFormMobile {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
  width: 100%;
}

.inputInfosFormMobile .submitButton {
  width: 30%;
  display: flex;
  justify-content: flex-start;
}

.wrapperInputsMobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapperInputsMobile .selectComponent, .wrapperInputsMobile .inputGroup{
width: 100%;
}

.wrapperInputsMobile .inputGroup select {
  width: 100%;
}
