.container-login {
  display: flex;
  background-color: var(--bg-blue-darker);
  font-family: "Poppins", sans-serif;



  .section-logo-login {
    padding: 30px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-blue-darker);

  }


  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    width: 100vw;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    background-color: white;
    position: relative;

    a {
      color: var(--link-text);
      text-decoration: underline;

    }

    .wrapper_login_elements {
      width: 23vw;
      padding: 1.5rem;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      gap: 1.5em;

      .welcome_message {
        h1 {
          font-size: 2em;
          font-weight: 500;
        }
      }

      form {
        display: flex;
        flex-direction: column;
        text-align: left;

        .wrapper-inputs-login-page {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          .password-toggle {
            position: absolute;
            right: 0.75rem;
            top: 50%;
            transform: translateY(-50%);
            color: var(--muted-foreground);
            transition: all 0.3s ease;
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
          }
        }

        .btn-generic{
          margin-top: 2rem;
        }
      }




      input[type="checkbox"] {
        background-color: transparent;
      }

    }

    .config_login {
      display: flex;
      justify-content: space-between;

      span {
        margin-left: 10px;
      }

      a {
        text-decoration: underline;
      }
    }

  }
}

@media (max-width: 1024px) {
  .container-login {
    flex-direction: column;

    .login {
      width: 100vw;
      height: 100vh;
      border-radius: 0;

      .wrapper_login_elements {
        width: 80vw;
      }
    }
  }

}