.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-height: 600px;
    overflow-y: auto;
}

.modalContent h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
    color: #333;
}

.inputContainer {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.inputContainer label,
.selectType :global(label) {
    font-size: 16px !important;
    margin-right: 10px;
    font-weight: 500;
    color: #333;
    flex: 1;
}

.selectType :global(label) {
    max-width: 35.2%;
}

.inputContainer input,
.selectType :global(select) {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* button component */
.buttonAddBenefit {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.modalButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
    height: 100%;
}

.buttonsAction {
    width: 100%;
}

/* select */
.selectType {
    align-items: center;
    flex-direction: row !important;
    width: 100%;
}

.selectType :global(select) {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    padding-left: 8px !important;
    
}

@media (max-width: 1024px) {
    .inputContainer {
        flex-wrap: wrap;
    }

    .modalContent {
        max-height: 500px;
    }

    .modalContent h1 {
        font-size: 20px;
    }

    .inputContainer :global(.wrapper_solo_inp) {
        width: 100%;
    }

    .inputContainer :global(.wrapper_solo_inp input) {
        width: 100%;
    }

    .inputContainer label,
    .inputContainer input {
        font-size: 14px;

    }

    .modalButtons {
        flex-direction: column;
        gap: 10px;
    }

    .selectType {
        flex-direction: column !important;
        align-items: flex-start !important;
    }
}