@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

@layer components {
  .bg-gigant-orange {
    background-color: var(--color-gigant-orange);
  }

  .bg-oxford-blue {
    background-color: var(--oxford-blue);
  }

  .text-oxford-blue {
    color: var(--oxford-blue);
  }

  .bg-indigo {
    background-color: var(--indigo);
  }

  .bg-lapis-lazuli {
    background-color: var(--lapis-lazuli);
  }

  .text-indigo {
    color: var(--indigo);
  }

  .font-poppins {
    font-family: var(--font-poppins);
  }

  .font-bebas {
    font-family: var(--font-bebas);
  }
}
.wrapper_inp {
  background-color: #f3f3f3;
  border-radius: 8px;

  input[type="email"],
  input[type="text"],
  input[type="password"],
  select {
    padding: 20px 16px 20px 40px;
    background-color: transparent;
    color: black;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    font-size: 1rem;
  }
}