@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }


}



@layer components {
  .bg-gigant-orange {
    background-color: var(--color-gigant-orange);
  }

  .text-gigant-orange {
    color: var(--color-gigant-orange);
  }

  .bg-oxford-blue {
    background-color: var(--oxford-blue);
  }

  .text-oxford-blue {
    color: var(--oxford-blue);
  }

  .bg-indigo {
    background-color: var(--indigo);
  }

  .bg-lapis-lazuli {
    background-color: var(--lapis-lazuli);
  }

  .text-indigo {
    color: var(--indigo);
  }

  .font-poppins {
    font-family: var(--font-poppins);
  }

  .font-bebas {
    font-family: var(--font-bebas);
  }

  .gradient-white-with-blue-bar {
    background: #ffffff;
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 97%, rgba(9, 58, 93, 1) 96%);
    background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 97%, rgba(9, 58, 93, 1) 96%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 97%, rgba(9, 58, 93, 1) 96%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF",
        endColorstr="#093A5D",
        GradientType=1);
  }

  .gradient-white-with-blue-bar-mobile {
    background: #ffffff;
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, 1) 97%, rgba(9, 58, 93, 1) 96%);
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 97%, rgba(9, 58, 93, 1) 96%);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 97%, rgba(9, 58, 93, 1) 96%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF",
        endColorstr="#093A5D",
        GradientType=1);
  }
}

.wrapper_inp {
  background-color: #f3f3f3;
  border-radius: 8px;

  input[type="email"],
  input[type="text"],
  input[type="password"],
  select {
    padding: 20px 16px 20px 40px;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    font-size: 1rem;
    height: 56px;
  }
}

.layout_main_outlet {
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 1024px) {

  .logo_header_mobile {
    display: flex;
    align-items: center;
    margin: 10px 0;
    justify-content: center;
  }

  .layout_main_outlet {
    padding: 20px;
    height: auto;
    min-height: 100vh;
  }
}