@import "tailwindcss";


@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}

@layer components {
  .bg-gigant-orange {
    background-color: var(--color-gigant-orange);
  }

  .bg-blue-velvet {
    background-color: var(--blue-velvet);
  }

  .bg-indigo {
    background-color: var(--indigo);
  }

}