.containerCardFilterCheckSchedule {
    display: flex;
    gap: 20px;

}

.cardFilter {
    background-color: #fff;
    width: 100%;
    border-radius: 12px;
    padding: 19px 26px;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 750px;
}

.selectStatus {
    width: 70%;
    color: #000;
    padding: 8px 12px;
    border: 1px solid #bfcad6;
    border-radius: 6px;
    font-size: 16px;
    outline: 1px solid #bfcad6;
    background-color: var(--btn-border);
}

.divButtonFilter {
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

.searchBarDiv {
    width: 100%;
}

.buttonFilter {
    width: 100% !important;
}

.btnCheckSchedule {
    padding: 9px !important;
    max-width: unset !important;
}

@media (max-width: 1024px) {

    .containerCardFilterCheckSchedule {
        flex-wrap: wrap;
        width: 100%;
    }

    .cardFilter {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        max-width: unset !important;
        min-width: unset !important;
    }

    .selectStatus {
        width: 100% !important;
    }

    .divButtonFilter {
        width: 100% !important;
    }

}


@media (max-width: 600px) {
    .cardFilter {
        min-width: unset;
    }
}