  .go-back-login {
    padding: 30px;
    position: absolute;
    top: 0;
    left: 0;

    a {
      color: #000 !important;
      display: flex;
      align-items: center;
      gap: 10px !important;
      text-decoration: none !important;
    }
  }